$accent-color: #86c232;
$text-color: #fff;
$border-color: rgba(255, 255, 255, .2);
$border-hover-color: rgba(255, 255, 255, 0.5);
$glyphicon-color: #999;

$input-background-focus-color: #fff;

$dot-color: #777;

$pagination-color: rgba(255, 255, 255, 0.1);

$back-button-text-color: rgba(255, 255, 255, 0.5);