.navigation {
  margin-bottom: 35px;
  .navbar-nav {
    border-bottom: 1px solid rgba(255,255,255,.15);
    display: block;
    width: 100%;
    margin: 0;
    li {
      float: left;
      a {
        padding: 20px 5px;
        margin: 0 10px;
        color: white;
        transition: all 60ms linear 30ms;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          background-color: transparent;
          box-shadow: inset 0 -4px 0 0 rgba(255,255,255,.2);
        }
        &:focus {
          background-color: transparent;
          color: #9bff3d;
          box-shadow: inset 0 -4px 0 0 #9bff3d;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navigation {
    margin-bottom: 15px;
  }
}